<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Vue Hello!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('hello.css', 'markocupic_vue_playground') }}">
</head>
<body>
{% set data = {
    firstname: firstname,
    lastname: lastname,
    products: products,
}|json_encode|base64_encode %}

<div id="hello" data-params="{{ data }}"></div>
{# Encore.enableSingleRuntimeChunk() will require an extra script tag for runtime.js #}
<script src="{{ asset('runtime.js', 'markocupic_vue_playground') }}"></script>
<script src="{{ asset('hello.js', 'markocupic_vue_playground') }}"></script>
</body>
</html>
